@media (max-width: 500px) {
    .list-input {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .input-break {
            height:30px;
        }
    }

    .output-list-item{
        white-space: nowrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .output-break{
            height: 15px;
        }
    }
}